{% extends 'base.html.twig' %}

{% block title %} Todo App{% endblock %}
{% block body %}
    {% for todo in todos %}

            <div class="row todo-item pt-2 pb-2">
                <div class="col-12 col-lg-8 ">
                    <span class="status {% if todo.status == 'Pending' %} done {% endif %}"></span> <span class="font-weight-bold" > {{ todo.name }} </span>
                    <div class="description mt-2 mb-2 pl-4">
                        {{ todo.description }}
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <span> Date: {{ todo.createdData  | date("m/d/Y") }} </span>
                </div>
        </div>
    {% endfor %}
{% endblock %}